:root {
	--bg-color: #3A6F8E;
	--white-color: #fff;
	--black-color: #000;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100vw;
	height: 100%;
}

body {
	display: flex;
	overflow: hidden;
}

.sidebar-menu {
	background-color: var(--black-color);
	border-radius: 40px 0px 0px 40px;
	margin: 25px 0px 0px 7px;
	padding: 10px 0px 20px;
}

.menu {
	width: 5%;
	height: 100%;
	background: var(--bg-color);
	color: var(--white-color);
	padding: 15px 0px;
}

.menu .nav-link {
	padding: 15px 0px;
	cursor: pointer;
	color: var(--white-color);
}

.menu .nav-link i {
	font-size: 20px;
}

.submenu {
	position: relative;
	width: 0%;
	height: 100%;
	background: var(--black-color);
	color: var(--white-color);
}

.submenu div {
	visibility: hidden;
	position: absolute;
	width: 0;
	top: 0;
	left: 0;
	padding: 20px;
}

.submenu .nav-tabs {
	border: 1px solid transparent;
}

.submenu .nav-tabs .nav-link {
	color: var(--white-color);
}

.submenu .nav-tabs .nav-link.active {
	border-radius: 5px;
	color: var(--bg-color);
	font-weight: bold;
}

.submenu .nav-tabs .nav-link:hover {
	border-radius: 5px;
	border: 1px solid var(--bg-color);
}

.main-content > section {
	display: none;
}
  
.main-content > section.visible{
	display: block;
}

.masonry {
	columns: 4;
	column-gap: 16px;
}

.masonry .grid {
	display: inline-block;
	margin-bottom: 16px;
	position: relative;
}

.masonry .grid:hover .grid__body {
	background: rgba(0, 0, 0, .5);
	opacity: 1;
}

.masonry .grid:before {
	border-radius: 5px;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .2);
}

.masonry .grid img {
	width: 100%;
	border-radius: 5px;
}

.masonry .grid__title {
	font-size: 28px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
}

.masonry .grid__author {
	font-size: 14px;
	font-weight: 300;
}

.masonry .grid__link {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.masonry .grid__body {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 30px 30px;
	color: #fff;
	display: flex;
	flex-direction: column;
	opacity: 0;
}

.masonry .grid__tag {
	background-color: rgba(255, 255, 255, .8);
	color: #333;
	border-radius: 5px;
	padding: 5px 15px;
	margin-bottom: 5px;
}

.mt-auto {
	margin-top: auto;
}

.text {
	color: var(--white-color);
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.main-content {
	overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}